body {
    
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    

    background-image: url("../images/grey_wash_wall_@2X.png");
    background-position: left top; 

}


.nameHeader {
    color: #ffffff;
    background-color: #4aaaa5;
    font-weight: bold;
}

.aboutMeHeader { 
   
    border-bottom: solid;
    color: #4aaaa5;
    border-color: #cccccc;
    border-width: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
}



#topnav { 
   
    border-bottom: solid;
    border-width: 3px;
    border-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#btmnav {
    
    background-color: #666666;  
    border-top:solid;
    border-color: #4aaaa5;
    border-width: 3px;
    color: #ffffff;
}

h4 {
   
    color: #777777;
    
}

form {
    text-decoration: none;
    color: #4aaaa5;
    font-size: 14px;
}

#submitButton {
    margin-bottom: 10px;
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;
    border: none;
    padding: 5px 10px 5px 10px;
}


.contentWrapper {

    position: relative;
    z-index: 1;
  
}

.textWrapper {

    position: absolute;
    width: 100%;
    text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
    z-index: 2;
    bottom: 5%;
    font-weight: bold;
    
    
}

/* Experimented with using media queries with the about me photo that has text wrapping.  I ended up using a % for the width and auto for height */

/* @media screen and (max-width: 980px) {
    #aboutmepic {
        height: auto;
        width: 250px;
    }
}

@media screen and (max-width: 768px) {
    #aboutmepic {

        height: auto;
        width: 300px;
        
    }

}

@media screen and (max-width: 640px) {
    #aboutmepic {
        height: auto;
        width: 350px;
    }
}
 */






/* 
Bootstrap break points

Extra small (xs) devices (portrait phones, less thatn 576px)
No media query since this is the default in Bootstrap 

Small (sm) devices (landscape phones, 576px and up) 
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768 px and up) 
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up) 
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

*/